div
 table
  thead 
  tbody
   tr 
    td 
     img(src= result.imgpath)
    br
    tr: th Make
    td= result.make
    tr: th Model
    td= result.model
    tr: th Year of Manufacture
    td= result.yom
    tr: th Mileage
    td= result.mileage
    tr: th Condition
    td= result.condition
    tr: th Description 
    td= result.desc