div
 table
  thead 
  tbody
   tr 
    td 
     img(src= result.imgpath)
    br
    tr: th Brand 
    td= result.Brand
    tr: th Color
    td= result.color
    tr: th Price
    td= result.price
    tr: th Nails Care
    td= result.nailcare
    tr: th In Stock
    td= result.instock