div
 table
  thead 
  tbody
    tr 
    td 
     img(src= result.imgpath)
    br   
    tr: th Brand 
    td= result.Brand
    tr: th Diagonal Length
    td= result.dlength
    tr: th High Definition
    td= result.hdvalue
    tr: th Length
    td= result.length
    tr: th Width
    td= result.width
    tr: th Height 
    td= result.height
    tr: th Price
    td= result.price
    tr: th Description 
    td= result.desc
    tr: th Warranty
    td= result.warranty 